callsign,
.callsign-flag {
  border: 1px solid #ddd;
  display: inline;
  font-family: monospace;
}

callsign {
  background-color: #eee;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #222;
}

.callsign-flag {
  border-bottom-left-radius: 2px;
  border-right: none;
  border-top-left-radius: 2px;
}
