callsign,
.callsign-flag {
  display: inline;
  padding: 2px;
  border: 1px solid #ddd;
  font-family: monospace;
}

callsign {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
}

.callsign-flag {
  border-bottom-left-radius: 3px;
  border-right: none;
  border-top-left-radius: 3px;
  background-color: #ddd;
}
