.call-sign,
.call-sign-flag {
  display: inline;
  padding: 0 2px;
  border: 1px solid #ddd;
  font-family: monospace;
}

.call-sign {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-left: none;
  font-variant-numeric: slashed-zero;
}

.call-sign-flag {
  border-bottom-left-radius: 3px;
  border-right: none;
  border-top-left-radius: 3px;
  background-color: #ddd;
.monospace {
  font-family: monospace;
}
