name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: ESLint Action
      uses: hallee/eslint-action@1.0.1
      with:
        repo-token: ${{secrets.GITHUB_TOKEN}}
