name: "Test"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-eslint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
    - run: npm install
    - run: npx eslint src/
